Is the guidance recommending not to use HTTP status code `422 Unprocessable Entity` ?

I was going through https://github.com/NewDayTechnology/API-Design/blob/main/guidelines/StatusCodes.md earlier and there's one paragraph that's not clear to me/us, related to not using 422 in the right context (or perhaps at all?).

We're making use of 422 for situations such as:
`
A customer wants to cancel an instalment plan that is already cancelled
`.
They send in a valid request, so it's not a 400, the server did not error internally so it's not a 500.

Would the above example warrant a 422 or is there a better option?

The 422 status code is not a standard one.
It is part of the [WebDAV specification](https://datatracker.ietf.org/doc/html/rfc4918), so it should not be used for REST APIs.


I think 422 has been brought in to the main standard so is no longer just for WebDAV

1. [RFC9110](https://datatracker.ietf.org/doc/html/rfc9110) is the current internet standard for HTTP, and [includes 422](https://datatracker.ietf.org/doc/html/rfc9110#name-422-unprocessable-content)
2. This obsoletes propsal [RFC7231](https://datatracker.ietf.org/doc/html/rfc7231)
3. Which obsoletes the referenced draft [RFC2616 ](https://datatracker.ietf.org/doc/html/rfc2616#section-10)

I agree with @timabell-newday on this @alefranz , we're using 422 in Stratus to indicate "the syntax of the request content is correct, but it was unable to process the contained instructions", which is lifted from the 422 spec. It gives a more granular response code. We're using 400 for a request/validation error in situations where "the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing)"

this issue predates the standard :P will remove the 422 example and add a link to the updated RFC

@alefranz so just to confirm we're ok to use 422

> @alefranz so just to confirm we're ok to use 422
@paulgravesnewday 

If it is used in accordance with the new RFC, I don't see any problem with that.
The guidance is to avoid non-standard codes or reusing codes with different semantics from the spec.

If everyone is in agreement with this, what's left to happen before #22 gets merged and this can be closed off?